{"nome": "farinha-trigo", "local": "nenhum", "preco": "99999.99"}
{"nome": "feijao", "local": "nenhum", "preco": "9999999"}
{"nome": "arroz", "local": "nenhum", "preco": "9999999"}
{"nome": "fermento", "local": "nenhum", "preco": "9999999"}
{"nome": "acucar-refinado", "local": "nenhum", "preco": "9999999"}
{"nome": "acucar-mascavo", "local": "nenhum", "preco": "9999999"}
{"nome": "leite-condensado", "local": "nenhum", "preco": "9999999"}
{"nome": "creme-de-leite-caixa" "local": "nenhum", "preco": "9999999"}
{"nome": "creme-de-leite-lata" "local": "nenhum", "preco": "9999999"}
{"nome": "sal", "local": "nenhum", "preco": "9999999"}
{"nome": "farelo-de-aveia", "local": "nenhum", "preco": "9999999"}
{"nome": "aveia-em-flocos", "local": "nenhum", "preco": "9999999"}
{"nome": "cafe", "local": "nenhum", "preco": "9999999"}
{"nome": "massas", "local": "nenhum", "preco": "9999999"}
{"nome": "pipoca", "local": "nenhum", "preco": "9999999"}
{"nome": "atum", "local": "nenhum", "preco": "9999999"}
